.App {
  text-align: center;
}

.i-wrapper {
  background-color: green;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.left-panel {
  background-color: red;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  overflow-x: hidden;
}

.center-panel {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-wrapper {
  border: 1px solid purple;
  background-color: white;
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  margin: 20px 0;
  padding: 40px 0;
}
