.App {
  /* text-align: center; */
}

.i-wrapper {
  background-color: green;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.left-panel {
  background-color: red;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  overflow-x: hidden;
}

.center-panel {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-panel-wrapper {
  border: 1px solid purple;
  background-color: white;
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  overflow-y: auto;
  /* overflow-x: hidden; */
  margin: 20px 0;
  padding: 20px;
}

.form-component {
  border: 1px solid red;
  background-color: bisque;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-container {
  border: 1px solid red;
  width: 100%;
}

.form-input,
.form-textfield,
.form-teaxarea {
  width: 100%;
  padding-inline: 0;
}
